<div id="event-container">
    <div class="main-info">
        <img src="assets/img/{{event.type.toLowerCase()}}-icon.png" alt="{{event.type}}">
        <p>{{event.title}}</p>
        <p>{{event.time}}</p>
        <p>{{event.location.name}}</p>
        <p>{{event.creator.name}}</p>
        <img src="{{event.creator.avatarUrl}}" alt="creator avatar">
    </div>
    <div class="guests">
        <label for="guests">Guests</label>
        <div *ngFor='let guest of event.guests' class="guest">
            <img src="{{guest.avatarUrl}}" alt="">
            <p>{{guest.name}}</p>
        </div>
    </div>
    <div class='commentbtn'>
   		<button (click)='toggleComments()'>
   			<img src="assets/img/comment.png">
   		</button>

    </div>

</div>
<app-comment *ngIf='openComments' [comments]='event.comments' class="comments"></app-comment>